<div class="separator">
    <div class="container">
    </div>
</div>

<div id="video">
    <div class="container">
        <div id="video-selector" class="container">
            <h2>Watch the movie trailer</h2>
            <div class="video-wrapper">
                <a class="video" data-toggle="modal" href="#brighton-wok-trailer">Brighton Wok Trailer</a>
            </div>
        </div>
   </div>
</div>

<script type="text/template" id="modal-template">
    <div class="modal hide fade video" id="brighton-wok-trailer">
        <!--
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Modal header</h3>
        </div>
        -->
        <div class="modal-body">
        </div>
    </div>
</script>
 
<script type="text/template" id="video-template">
    <iframe
        class="vimeo" id="bwok-trailer-vimeo"
        src="http://player.vimeo.com/video/1285896?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933&amp;api=1&amp;player_id=bwok-trailer-vimeo"
        width="504" height="284" frameborder="0"
        webkitAllowFullScreen mozallowfullscreen allowFullScreen
        ></iframe>
</script>
 
<div class="separator">
    <div class="container">
    </div>
</div>

<div id="links">
    <div class="container">
        <div class="row">

            <div class="about-group span6">
                <h1 class="ninja"><span>Ninjas! </span><span>Ganja! </span><span>Kung Fu!</span></h1>
                <div class="clearfix"></div>

                <div class="reviews">
                    <blockquote>
                        <p><em>Brighton Wok</em> is an amazing film. Buy it at once.</p>
                        <p class="attribution">Some guy on twitter</p>
                    </blockquote>

                    <blockquote>
                        <p>This movie is <em>Awesome!</em></p>
                        <p class="attribution">random dude</p>
                    </blockquote>

                    <blockquote>
                        <p>My friends and I <em>loved</em> Brighton Wok. Can't recommend it enough.</p>
                        <p class="attribution">cool peeps</p>
                    </blockquote>
                </div>

                <div class="about">
                    <h1>Some History...</h1>
                    <p>
                    In 2008, <em>Convict Films</em> came together in
                    Brighton, England t make the feature film
                    <em>Brighton Wok</em>.
                    </p>
                </div>

                <div id="gallery" class="carousel">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <img 
                            alt="A caravan blowing up."
                            src="/img/brighton-wok/stills/brighton-wok-caravan-500x281.jpg" />
                        </div>
                        <div class="item">
                            <img 
                            alt="A man shouting at a woman, being filmed."
                            src="/img/brighton-wok/stills/brighton-wok-filming-in-brighton-500x281.jpg" />
                        </div>
                        <div class="item">
                            <img 
                            alt="A man holding a kung-fu pose."
                            src="/img/brighton-wok/stills/brighton-wok-ryu-pose-500x281.jpg" />
                        </div>
                        <div class="item">
                            <img 
                            alt="A man shouting at the camera."
                            src="/img/brighton-wok/stills/brighton-wok-rodney-500x281.jpg" />
                        </div>
 
                    </div>

                    <!-- Carousel nav -->
                    <a class="carousel-control
                        left"
                        href="#gallery"
                        data-slide="prev">&lsaquo;</a>
                    <a
                        class="carousel-control
                        right"
                        href="#gallery"
                        data-slide="next">&rsaquo;</a>
                </div>


            </div>
            <div class="share-group span6">
                <div class="facebook">
                    <h2>
                        <i class="icon-facebook-sign
                            icon-large"></i>&nbsp;<a
                            href="{{.links.site.facebook}}">
                            Brighton Wok on Facebook</a>
                    </h2>
                    <div class="fb-like" data-href="http://brighton-wok.com"
                        data-send="true" data-width="400"
                        data-show-faces="true" data-colorscheme="light"
                        data-font="arial">
                    </div>
                </div>


                <div class="twitter">
                    <div class="tweets-wrapper">

                        <div class="tweet-box">
                            <h2>
                                <i class="icon-twitter-sign icon-large"></i>&nbsp;<a href="{{.links.site.twitter}}">@ConvictFilms</a>
                            </h2>
                            <ul>
                            {{range .tweets}}
                            <li>
                            {{if .User}}
                            <img src="{{.User.Profile_image_url}}" width="32"
                            height="32" />
                            {{else}}
                            <img src="http://placekitten.com/32/32" width="32"
                            height="32" />
                            {{end}}
                            <span class="text">{{.Text}}</span>
                            <span class="date">{{.Created_at}}</span>
                            </li>
                            {{end}}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        {{/* Buy DVD again box */}}
        <div class="row">
            <div class="span12">
                <div class="dvd-small span7">

                    <div class="row">
                        <div class="span3">
                            <a class="dvd" href="{{.links.brightonWok.index}}">DVD</a>
                        </div>
                        <div class="span4 details">

                            <div class="information">
                                <div class="buy">
                                    <h2 class="call">Buy the DVD now for &#163;9.99</h2>
                                    <table class="product-details">
                                        <tr>
                                            <th>Format</th>
                                            <td>DVD-5 PAL Video</td>
                                        </tr>
                                        <tr>
                                            <th>Sound</th>
                                            <td>5.1 Surround Stereo</td>
                                        </tr>
                                        <tr>
                                            <th>Length</th>
                                            <td>85 min</td>
                                        </tr>
                                        <tr>
                                            <th>Price</th>
                                            <td>&#36;19<small>.79</small> (USD)<br />&#163;9<small>.99</small> (GBP)</td>
                                        </tr>
                                    </table>

                                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="cmd" value="_xclick"><input type="hidden" name="business" value="sales@convictfilms.com"><input type="hidden" name="undefined_quantity" value="1"><input type="hidden" name="item_name" value="Brighton Wok: The Legend of Ganja Boxing DVD-5 PAL"><input type="hidden" name="item_number" value="001"><input type="hidden" name="amount" value="9.99"><input type="hidden" name="no_shipping" value="2"><input type="hidden" name="no_note" value="1"><input type="hidden" name="currency_code" value="GBP"><input type="hidden" name="weight" value="1"><input type="hidden" name="weight_unit" value="kgs"><input type="hidden" name="lc" value="GB"><input type="hidden" name="bn" value="PP-BuyNowBF"><input type="image" 
                                        src="https://www.paypal.com/en_GB/i/btn/btn_buynowCC_LG.gif"
                                        border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
                                        <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                                    </form>
                                </div>

                            </div>





                        </div>
                    </div>
            
                </div>
            </div>
        </div>

    </div>
</div>

