<div class="separator">
    <div class="container">
    </div>
</div>

<div id="video">
    <div class="container">
        <div id="video-selector" class="container">
            <h2>Watch the movie trailer</h2>
            <a class="video" data-toggle="modal" href="#brighton-wok-trailer">Brighton Wok Trailer</a>
        </div>
   </div>
</div>
<script type="text/template" id="modal-template">
    <div class="modal hide fade video" id="brighton-wok-trailer">
        <!--
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Modal header</h3>
        </div>
        -->
        <div class="modal-body">
        </div>
    </div>
</script>
 
<script type="text/template" id="video-template">
    <iframe
        class="vimeo" id="bwok-trailer-vimeo"
        src="http://player.vimeo.com/video/1285896?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933&amp;api=1&amp;player_id=bwok-trailer-vimeo"
        width="504" height="284" frameborder="0"
        webkitAllowFullScreen mozallowfullscreen allowFullScreen
        ></iframe>
</script>
 
<div class="separator">
    <div class="container">
    </div>
</div>

<div id="links">
    <div class="container">
        <div class="row">

            <div class="about-group span6">
                <h1 class="ninja"><span>Ninjas! </span><span>Ganja! </span><span>Kung Fu!</span></h1>
                <div class="clearfix"></div>

                <div class="reviews">
                    <blockquote>
                        <p><em>Brighton Wok</em> is an amazing film. Buy it at once.</p>
                        <p class="attribution">Some guy on twitter</p>
                    </blockquote>

                    <blockquote>
                        <p>This movie is <em>Awesome!</em></p>
                        <p class="attribution">random dude</p>
                    </blockquote>

                    <blockquote>
                        <p>My friends and I <em>loved</em> Brighton Wok. Can't recommend it enough.</p>
                        <p class="attribution">cool peeps</p>
                    </blockquote>
                </div>

                <div class="about">
                    <h1>Some History...</h1>
                    <p>
                    In 2008, <em>Convict Films</em> came together in
                    Brighton, England t make the feature film
                    <em>Brighton Wok</em>.
                    </p>
                </div>

            </div>
            <div class="share-group span6">

                <div class="twitter">
                    <div class="tweets-wrapper">

                        <div class="tweet-box">
                            <h2>
                                <i class="icon-twitter-sign icon-large"></i>&nbsp;<a href="{{.links.site.twitter}}">@ConvictFilms</a>
                            </h2>
                            <ul>
                            {{range .tweets}}
                            <li>
                            {{if .User}}
                            <img src="{{.User.Profile_image_url}}" width="32"
                            height="32" />
                            {{else}}
                            <img src="http://placekitten.com/32/32" width="32"
                            height="32" />
                            {{end}}
                            <span class="text">{{.Text}}</span>
                            <span class="date">{{.Created_at}}</span>
                            </li>
                            {{end}}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

