<div class="row">
    <div class="span12">
        <ul class="thumbnails">
            {{range .videos}}
                <li class="span3">
                    <div class="thumbnail">
                        <a href="{{.Location}}">
                            {{if eq .Thumbnail ""}}
                            <img 
                            src="http://placehold.it/210x180"
                            width="210"
                            alt="Placeholder"
                            >
                            {{else}}
                            <img 
                            src="{{.Thumbnail.URL}}"
                            width="210"
                            alt=""
                            >
                            {{end}}
                        </a>
                        <h5>{{.Title}}</h5>
                        <p>{{.ShortDescription}}</p>
                    </div>
                </li>
            {{end}}
        </ul>
    </div>
</div>

<div class="row">
    <div class="brighton-wok span6">
        <h2>Ninjas! Ganja! Kung Fu!</h2>
        <a class="dvd" href="{{.links.brightonWok.index}}">DVD</a>
        <div class="span3">
            <blockquote>
                <p>
                The best thing since sliced bread.
                </p>
                <small>
                    Alison
                    <cite title>Daily Mail</cite>
                </small>
            </blockquote>
            <p class="well">
            You can buy the <b>Brighton Wok: The Legend of Ganja Boxing</b>
            DVD online at the <a
                href="{{.links.brightonWok.index}}">official website</a>.
            </p>
        </div>
    </div>

    <div class="span6">
        <h2><i class="icon-film icon-large"></i> Not sure what content</h2>

        <p>
        Should go here. Links? Twitter? Something we care about?
        </p>
    </div>
</div>
