<div class="row featured-videos">
    <div class="span12">
        <ul class="thumbnails">
            {{range .videos}}
                <li class="span3">
                    <div class="thumbnail">
                        <a href="{{.Location}}">
                            {{if eq .Thumbnail ""}}
                            <img 
                            src="http://placehold.it/210x180"
                            width="210"
                            alt="Placeholder"
                            >
                            {{else}}
                            <img 
                            src="{{.Thumbnail.URL}}"
                            width="210"
                            alt=""
                            >
                            {{end}}
                        </a>
                        <h5>{{.Title}}</h5>
                        <p>{{.ShortDescription}}</p>
                    </div>
                </li>
            {{end}}
        </ul>
    </div>
</div>

<div class="row">
    <div class="brighton-wok span6">
        <h2>Ninjas! Ganja! Kung Fu!</h2>
        <div class="row">
            <div class="span3">
                <a class="dvd" href="{{.links.brightonWok.index}}">DVD</a>
            </div>
            <div class="span3 details">
                <blockquote>
                    <p>
                    The best thing since sliced bread.
                    </p>
                    <small>
                        Alison
                        <cite title>Daily Mail</cite>
                    </small>
                </blockquote>
                <p>
                You can buy the <b>Brighton Wok: The Legend of Ganja Boxing</b>
                DVD online at the <a
                    href="{{.links.brightonWok.index}}">official website</a>.
                </p>
            </div>
        </div>
    </div>

    <div class="span6">
        <h2><i class="icon-flag icon-large"></i> We are <b>Convict
                Films</b></h2>
        <p>
        Our company started back in 2001 when a group of friends came
        together to make the film <b>Brighton Wok</b>. Since then
        </p>
        <ul>
            <li>
            <a href="{{.links.brightonWok.index}}">Brighton Wok</a>
            </li>
            <li>
            <a href="{{.links.site.videos}}">Video Library</a>
            </li>
        </ul>
    </div>
</div>

{{/*
<div class="row">
    <div class="span4">
        <div class="twitter">
            <div class="tweets-wrapper">

                <div class="tweet-box">
                    <h2>
                        <i class="icon-twitter-sign icon-large"></i>&nbsp;<a href="{{.links.site.twitter}}">@ConvictFilms</a>
                    </h2>
                    <ul>
                    {{range .tweets}}
                    <li>
                    {{if .User}}
                    <img src="{{.User.Profile_image_url}}" width="32"
                    height="32" />
                    {{else}}
                    <img src="http://placekitten.com/32/32" width="32"
                    height="32" />
                    {{end}}
                    <span class="text">{{.Text}}</span>
                    <span class="date">{{.Created_at}}</span>
                    </li>
                    {{end}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
*/}}
