{{/* Navigation */}}
<div class="row">
    <section class="span3">
       <nav>
            <ul class="nav nav-list">
                <li class="nav-header">
                    {{.site.Title}}
                </li>
                <li>
                    <a href="{{.links.site.index}}">Home</a>
                </li>
                <li>
                    <a href="{{.links.site.videos}}">Video Library</a>
                </li>
                {{if eq .site.Name "convict-films"}}
                    <li>
                        <a href="{{.links.convictFilms.userAuth}}">Login to Convict Films</a>
                    </li>
                    <li>
                        <a href="{{.links.convictFilms.userRegistrar}}">Register with Convict Films</a>
                    </li>
                {{end}}
            </ul>
        </nav>
    </section>
    {{if eq .site.Name "brighton-wok"}}
        <section class="span3">
        <nav>
                <ul class="nav nav-list">
                    <li class="nav-header">
                        Convict Films
                    </li>
                    <li>
                        <a href="{{.links.convictFilms.index}}">Home</a>
                    </li>
                    <li>
                        <a href="{{.links.convictFilms.videos}}">Video Library</a>
                    </li>
                    <li>
                        <a href="{{.links.convictFilms.userAuth}}">Login to Convict Films</a>
                    </li>
                    <li>
                        <a href="{{.links.convictFilms.userRegistrar}}">Register with Convict Films</a>
                    </li>
                </ul>
            </nav>
        </section>
    {{end}}
    {{if eq .site.Name "convict-films"}}
        <section class="span3">
        <nav>
                <ul class="nav nav-list">
                    <li class="nav-header">
                        Brighton Wok
                    </li>
                    <li>
                        <a href="{{.links.brightonWok.index}}">Home</a>
                    </li>
                    <li>
                    <a href="{{.links.brightonWok.videos}}">Video Library</a>
                    </li>
                </ul>
            </nav>
        </section>
    {{end}}
    <section class="span3">
       <nav>
            <ul class="nav nav-list">
                <li class="nav-header">
                    Convict on the Web
                </li>
                <li>
                <a href="#"><i class="icon-twitter-sign"></i>Twitter</a>
                </li>
                <li>
                <a href="#"><i class="icon-facebook-sign"></i>Facebook</a>
                </li>
            </ul>
        </nav>
    </section>
</div>
