<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{{.title}} - {{.site.Title}}</title>
        <meta name="description" content="{{.description}}">
        <meta name="author" content="{{.author}}">
        <link type="text/plain" rel="author" href="/humans.txt" />

        {{/* Open graph meta tags */}}
        <meta property="og:title" content="{{.title}} - {{.site.Title}}" /> 
        <meta property="og:description" content="{{.description}}" /> 
        <meta property="og:image" content="{{.thumbnail.URL}}" />

        {{/* Mobile viewport optimized: j.mp/bplateviewport */}}
        <meta name="viewport" content="width=device-width,initial-scale=1">

        {{/* CSS: implied media=all */}}
        {{.cssHTML}}

        {{/* More ideas for your <head> here: h5bp.com/d/head-Tips */}}
        <script src="/js/libs/modernizr-2.5.3.min.js"></script>
    </head>

    <body class="{{.resource}}">

        {{/* Facebook Javascript SDK */}}
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src =
            "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

        <div id="page-container">
            {{/**
            * See http://www.w3.org/WAI/PF/aria/roles#landmark_roles 
            **/}}
            <header role="banner" class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    {{template "banner.html" .}}
                    {{/*
                        <div role="search">
                            {{template "search.html" .}}
                        </div>
                    */}}
                </div>
            </div>
            </header>

            {{if .flashes }}
            <div class="flash">
                {{if .flashes.success }}
                {{range .flashes.success }}
                <div class="alert alert-block alert-success fade in">
                    <a class="close" data-dismiss="alert">×</a>
                    <h4 class="alert-heading">Success</h4>
                    {{.}}
                </div>
                {{end}}
                {{end}}
                {{if .flashes.error }}
                {{range .flashes.error }}
                <div class="alert alert-block alert-error fade in">
                    <a class="close" data-dismiss="alert">×</a>
                    <h4 class="alert-heading">There was an error</h4>
                    {{.}}
                </div>
                {{end}}
                {{end}}
                {{if .flashes.warning }}
                {{range .flashes.warning }}
                <div class="alert alert-block fade in">
                    <a class="close" data-dismiss="alert">×</a>
                    <h4 class="alert-heading">Warning</h4>
                    {{.}}
                </div>
                {{end}}
                {{end}}
                {{if .flashes.information }}
                {{range .flashes.information }}
                <div class="alert alert-block alert-info fade in">
                    <a class="close" data-dismiss="alert">×</a>
                    <h4 class="alert-heading">Warning</h4>
                    {{.}}
                </div>
                {{end}}
                {{end}}

            </div>
            {{end}}

            <div id="main" role="main">
                <div class="container">
                    {{template "main.html" .}}
                </div>
            </div>

            <div id="complementary" role="complementary">
                <div class="container">
                    {{template "complementary.html" .}}
                </div>
            </div>

            <div class="separator footer">
                <div class="container">
                </div>
            </div>

            <footer>
                <div id="nav" role="navigation">
                    <div class="container">
                        {{template "navigation.html" .}}
                    </div>
                </div>

                {{/*  Footer FB box
                <div class="sharing">
                    <div class="container">
                        <div class="fb-like" data-href="http://brighton-wok.com"
                            data-send="true" data-width="450"
                            data-show-faces="true" data-colorscheme="dark"
                            data-font="arial">
                        </div>
                    </div>
                </div>
                */}}

                <div id="contentinfo" role="contentinfo">
                    <div class="container">
                        {{template "contentinfo.html" .}}

                        {{/* Dev stuff */}}
                        {{if eq .environment "dev"}}
                        {{if .requestingUser}}
                        <p class="pull-right">User: {{.requestingUser.ID}}</p>
                        {{end}}
                        {{end}}

                    </div>
                </div>

            </footer>

        </div> <!--! end of #container -->

        <!-- JavaScript at the bottom for fast page loading -->

        <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

        {{.javascriptLibraryHTML}}
        <script defer>
            // Global vars
            window.jsonURL = "{{.jsonURL}}";
            // Start app view onload
            $(function () {
                var appView = new vafan.view.app();
            });
        </script>
        <!-- end scripts-->

        <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
        mathiasbynens.be/notes/async-analytics-snippet -->
        <script>
            var _gaq=[['_setAccount','{{.site.GoogleAnalyticsID}}'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
