<header class="jumbotron subhead" id="overview">
    {{if .dvd.ThankUser}}
        <h1>Thank you for your order!</h1>
        <p class="lead">
        {{.dvd.ShortDescription}}
        </p>
    {{else}}
        <h1>{{.dvd.Title}}</h1>
        <p class="lead">
        {{.dvd.ShortDescription}}
        </p>
    {{end}}
</header>

<div class="row">

    {{/* Buy DVD stuff */}}
    <div class="span6">
        <div class="dvd-image">
            <img 
                src="/img/brighton-wok/dvd/box.png"
                alt="The Brighton Wok DVD" 
                />
        </div>

        <table class="dvd-details table table-bordered table-condensed">
            <tr>
                <th>Format</th>
                <td>DVD-5 PAL Video</td>
            </tr>
            <tr>
                <th>Sound</th>
                <td>5.1 Surround Stereo</td>
            </tr>
            <tr>
                <th>Length</th>
                <td>85 min</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>&#36;19<small>.79</small> (USD)<br />&#163;9<small>.99</small> (GBP)</td>
            </tr>
        </table>
    </div>

    <div class="span6">
        {{/* Thanks div, if the user has purchased a DVD (has ?thankyou=1) */}}
        {{if .dvd.ThankUser}}

            <h1>Your DVD is on its way</h1>
            <p>
            An email has been sent to you with the transaction details.
            </p>
            <p>
            If you have any questions or just want to talk,
            email us at:
            </p>
            <address>
                <strong><i class="icon-envelope"></i> Email</strong><br>
                <a href="mailto:gabriel@convictfilms.com">gabriel@convictfilms.com</a>
            </address>
            <p>
            or come and talk to us online:
            </p>
            <address>
                <strong><i class="icon-facebook-sign"></i> Facebook</strong><br>
                <a href="http://facebook.com/brightonwok">facebook.com/BrightonWok</a>
            </address>
            <address>
                <strong><i class="icon-twitter-sign"></i> Twitter</strong><br>
                <a href="http://twitter.com/convictfilms">@ConvictFilms</a>
            </address>
            <p>
            or call us in the UK:
            </p>
            <address>
                <strong><i class="icon-th"></i> Telephone</strong><br>
                +44 (0) 7717 885 943
            </address>
            <p>
            Enjoy the movie!
            </p>
        {{else}}

            {{/*  About Paypal etc. */}}
            <div
                id = "about-text"
                >
                <h1>How to Buy Online</h1>
                <!--
                <img src="/images/stills/small/vaf-on-the-pier.jpg" />
                -->
                <p>
                We use PayPal for secure credit card payments.
                </p>
                <p>
                You do not need a PayPal account to get the DVD.
                </p>
                <ol>
                    <li>
                    Click <em>Buy Now</em> to go to the secure server
                    </li>

                    <li>
                    Put in your address and details
                    </li>

                    <li>
                    We will send your DVD today
                    </li>
                </ol>
                <p>
                We deliver world-wide. A small postage and packing fee will be added 
                to your order, for your approval, when you put in your address.
                </p>
                <p>
                Brighton Wok and PayPal take your privacy very seriously. We do not 
                have access to any financial information. We do not share your shipping or 
                email address with anyone.
                </p>
                <p>
                If you have any questions or just want to talk,<br /> email us at:
                </p>

                <address>
                    <strong><i class="icon-envelope"></i> Email</strong><br>
                    <a href="mailto:gabriel@convictfilms.com">gabriel@convictfilms.com</a>
                </address>

                <p>
                or call us in the UK:
                </p>

                <address>
                    <strong><i class="icon-th"></i> Telephone</strong><br>
                    +44 (0) 7717 885 943
                </address>

                <p>
                Enjoy the movie!
                </p>
                <div class="paypal-links">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post"><input type="hidden" name="cmd" value="_xclick"><input type="hidden" name="business" value="sales@convictfilms.com"><input type="hidden" name="undefined_quantity" value="1"><input type="hidden" name="item_name" value="Brighton Wok: The Legend of Ganja Boxing DVD-5 PAL"><input type="hidden" name="item_number" value="001"><input type="hidden" name="amount" value="9.99"><input type="hidden" name="no_shipping" value="2"><input type="hidden" name="no_note" value="1"><input type="hidden" name="currency_code" value="GBP"><input type="hidden" name="weight" value="1"><input type="hidden" name="weight_unit" value="kgs"><input type="hidden" name="lc" value="GB"><input type="hidden" name="bn" value="PP-BuyNowBF"><input type="image" 
                        src="https://www.paypal.com/en_GB/i/btn/btn_buynowCC_LG.gif"
                        border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
                        <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                    </form>
                    <div id="paypal-logo">
                        <!-- PayPal Logo -->
                        <table border="0" cellpadding="10" cellspacing="0" align="center">
                        <tr><td align="center"><a href="#" onclick="javascript:window.open('https://www.paypal.com/uk/cgi-bin/webscr?cmd=xpt/cps/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');"><img  src="https://www.paypal.com/en_GB/i/bnr/horizontal_solution_PP.gif" border="0" alt="Solution Graphics"></a></td></tr></table><!-- PayPal Logo -->
                    </div>
                </div>

                <div>
                    
                    <p>The DVD is also available at shops in
                    Brighton:</p>
                    <p>
                    <a href="{{.links.brightonWok.dvdStockists}}">Where to buy the DVD</a>
                    </p>
            {{end}}
        </div>

 
    </div>
</div>

