/* @override http://saulhoward.com/static/css/basic.css */

/* CSS basics for not so hot browsers */
/* hicksdesign.co.uk */
/* ------------------------------------------------------- */

body {
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: top left;	
	margin: 0;
	padding: 5%;
	font-family: sans-serif;
	color: #333;
}

