/* 
 * Brighton Wok stylesheet. 
 * Saul <saul@saulhoward.com>
 *
 * Assumes Bootstrap is in place.
 * Also thanks to: http://h5bp.com/css
 */

/* ==========================================================================
 * BRIGHTON WOK PALETTE
 *
 * (Also used in Convict Films)
 * Light orangey-pink
 *     #E84A5F
 *
 * Pale Yellow (for on dark wood)
 *     #FFF47B;
 *
 *
 * COLORS FROM HENRY'S TILE
 *
 * very pale green
 *     #DCEBC2
 *
 * stronger green/yellow
 *     #D4D973
 *
   ========================================================================== */
/* =============================================================================
   Links
   ========================================================================== */

a { color: #E84A5F; }
a:visited { color: #E84A5F; }
a:hover { color: #E84A5F; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }

/* ==========================================================================
 * General Typography, colors etc
   ========================================================================== */
body {
    color: #333;
    font-size: 14px;
}
p {
    font-size: 14px;
}
.index h1, .index h2,
.index h3, .index h4,
.index h5, .index h6 {
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    color: black;
}
.jumbotron h1, .jumbotron p {
    color: #333;
}

/* ==========================================================================
 * Layout, div specifics
   ========================================================================== */
/*
 * ============== BWOK Specific
 */
#page-container {
    background: #151515 url(/img/brighton-wok/smoke-tile.jpg) top left repeat;
    box-shadow:inset 0px 0px 150px #000;
}
#main > .container {
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: #DCEBC2;
    box-shadow:inset 0px 0px 100px rgba(212,217,115,0.5);
    padding-left: 15px;
    padding-right: 15px;
    /* -moz-box-sizing: border-box; */
    /* -webkit-box-sizing: border-box; */
    /* box-sizing: border-box;  */
}
.index #main > .container {
    background: none;
    box-shadow: none;
    border: none;
    padding: 0;
}

/*
 * Style which uses ganja boxing tiles as the main background 
 * */
/*
#main:before,
#main:after {
    content: " ";
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    z-index: 1;
    box-shadow:inset 0px 0px 150px #000;
}
#main:before {
    left: 0;
    background: url(/img/brighton-wok/ganja-boxing-pattern.jpg) top left repeat;
}
#main:after {
    right: 0;
    background: url(/img/brighton-wok/ganja-boxing-pattern-2.jpg) top left repeat;
}
#main > .container,
#main{
    z-index: 2;
    position: relative;
}
#main > .container {
    background: #151515 url(/img/brighton-wok/micro-carbon.png) top left repeat;
    box-shadow:inset 0px 6px 150px #000;
}
 **/

/* Brighton wok index specific funky rules */
.index #complementary > .container {
    width: 100% !important;
    padding: 0 !important;
}
.index #video > .container {
    width: 100% !important;
    padding: 0 !important;
}
/*
 * Header logo
 */
header.navbar h1 a.brighton-wok {
    width: 263px;
    background-image: url(/img/brighton-wok/brighton-wok-small-header.png);
}

/**
 * Movie and Title
 */
.index #main {
    background-color: black;
}
#movie {
    margin: 0;
}
.information {
    padding: 0;
}
.information h1, .information h2, 
.information h3, .information h4,
.information h5, .information h6 {
    color: #333;
}
.title {
    margin: 0 auto;
    text-align: center;
}
.title h1 {
    margin: 0 auto;
    padding: 0;
    display: block;
    text-indent: -3000px;
    width: 450px;
    height: 106px;
    background: url(/img/brighton-wok/brighton-wok-medium.png) top left no-repeat;
}
.title h2 {
    text-align: center;
    color: white;
    text-shadow:0px 0px 10px #000000;
    margin: -20px 0 0 0;
    padding: 0;
    font-size: 24px;
}
.buy {
    width: 350px;
    margin: 25px auto;
    padding: 10px 0;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 5px solid #d2ebf9;
    background: #feffff; /* Old browsers */
    background: -moz-linear-gradient(top, #feffff 0%, #d2ebf9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#d2ebf9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #feffff 0%,#d2ebf9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #feffff 0%,#d2ebf9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #feffff 0%,#d2ebf9 100%); /* IE10+ */
    background: linear-gradient(top, #feffff 0%,#d2ebf9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
    box-shadow: inset 0px 0px 10px 2px #d2ebf9;
    color: black;
}
.buy table.product-details {
    margin: 20px auto;
}
.buy table.product-details th {
    padding-right: 10px;
    border-right: 1px solid #666;
}
.buy table.product-details td {
    padding-left: 10px;
}

.dvd.three-dee img {
    display: none;
}

/*Separator Div
 **/
.separator {
    position: relative;
    width: 100%;
    height: 15px;
    background: url(/img/brighton-wok/sandstone.png) top left repeat-x;
    border-top: 1px solid #331800;
    border-bottom: 1px solid #331800;
}
.separator.footer {
    background: url(/img/brighton-wok/small-wood-tile.png) top left repeat-x;
    *margin-top: -18px;
}
 
/*
 * Trailer Div
 */
#video {
    width: 100%;
    position: relative;
    background: url(/img/brighton-wok/ganja-boxing-pattern.jpg) top left repeat;
}
#video #video-selector .modal {
    position: absolute;
    width: 651px;
    height: 367px;
    margin: 0 0 0 -325px;
    top: 0;
    left: 50%;
    outline: 0;
}
#brighton-wok-trailer {
    outline: 0;
}
#video #video-selector {
    outline: 0;
    position: relative;
    z-index: 1050; /* Above the modal background */
    background: #151515 url(/img/brighton-wok/micro-carbon.png) top left repeat;
    box-shadow:inset 0px 6px 150px #000;
    height: auto;
    padding: 25px 0 50px 0;
    text-align: center;
}
#video a.video {
    display: block;
    background: transparent url(/img/brighton-wok/play-trailer.jpg) top left no-repeat;
    width: 651px;
    height: 367px;
    border-top: 1px solid #151515;
    border-left: 1px solid #151515;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    box-shadow:0px 0px 50px rgba(75,75,75,0.2);
    margin: 0 auto;
    text-indent: -3000px;
}
.modal.video {
    background: black;
}
.modal.video iframe {
    margin: 26px auto 0 auto;
    display: block;
}
.video-wrapper {
    position: relative;
}
#video div#video-selector.playing h2 {
    color: black !important;
}

/*
 * Links Div
 */
#links .container {
    background: #5d381e url(/img/brighton-wok/wood-tile.jpg) top left repeat;
    box-shadow:inset 0px 0px 100px rgba(0,0,0,0.6), 0px 0px 50px #000;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 1em 0 50px 0;
    color: #FFF47B;
}
#links h1.ninja {
    font-family: 'Bangers', cursive;
    position: relative;
    font-size: 48px;
    line-height: 48px;
    font-weight: normal;
    text-align: center;
    color: rgb(202,7,0);
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(202,7,0,1)), to(rgba(202,7,0,0.5)));
    text-shadow: -1px 0 2px #333;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    margin-bottom: 25px;
}
#links h1.ninja span {
    display: inline-block;
    padding-left: 15px;
}
#links h1.ninja span:nth-child(2) {
    font-size: 50px;
}
#links h1.ninja span:nth-child(3) {
    font-size: 52px;
}
#links .reviews blockquote {
    border: none;
    font-size: 18px;
    width: 350px;
    margin: 25px auto 35px auto;
    padding: 0;
    position: relative;
    z-index: 0;
}
#links .reviews blockquote p {
    position: relative;
    z-index: 10;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px #000000;
}
#links .reviews blockquote em {
    font-style: normal;
    font-size: 24px;
    display: inline;
}
#links .reviews blockquote .attribution {
    text-align: right;
    font-style: italic;
    padding: 0 15px;
    color: #BDB453;
    margin-top: -10px;
}
#links .reviews blockquote:nth-child(odd) {
    margin-right: 0;
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
}
#links .reviews blockquote:nth-child(even) {
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
}
#links .reviews blockquote:nth-child(3) {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
}
#links .reviews blockquote:before {
    position: absolute;
    width: 350px;
    content: "“";
    margin-left: -45px;
    margin-top: -25px;
    font: 600%/1 "Ultra",Georgia,"Times New Roman",serif;
    color: #663111;
    text-shadow: none;
}
#links .about {
    color: #fcfbef;
    width: 100%;
    max-width: 450px;
    margin: 5px auto 25px auto;
    padding-left: 25px;
}
#links .about p {
    font-size: 16px;
    line-height: 1.4em;
}
#links .about h1 {
    color: #fdffcc;
    margin-bottom: 5px;
}
#links .about em {
    font-style: normal;
    font-weight: bold;
}

#links .plot p {
    font-style: italic;
}

/* Twitter Tweets
 */
#links .twitter {
    color: #333;
    font-size: 13px;
}
#links .twitter h2 {
    color: #333;
    font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#links .tweets-wrapper {
    -webkit-transform: rotate(1.5deg);
    -moz-transform: rotate(1.5deg);
    -ms-transform: rotate(1.5deg);
    -o-transform: rotate(1.5deg);

    -webkit-box-shadow: -5px -5px 15px 0px rgba(0,0,0,0.1), 5px 5px 15px 0px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: -5px -5px 15px 0px rgba(0,0,0,0.1), 5px 5px 15px 0px rgba(255, 255, 255, 0.1);
    box-shadow: -5px -5px 15px 0px rgba(0,0,0,0.1), 5px 5px 15px 0px rgba(255, 255, 255, 0.1);

    width: 350px;
    color: #333;
    margin: 0 auto;
    padding: 10px;
    background: #fcfbef; /* Old browsers */
    background: -moz-linear-gradient(top, #fcfbef 0%, #fdffcc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfbef), color-stop(100%,#fdffcc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fcfbef 0%,#fdffcc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fcfbef 0%,#fdffcc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fcfbef 0%,#fdffcc 100%); /* IE10+ */
    background: linear-gradient(top, #fcfbef 0%,#fdffcc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfbef', endColorstr='#fdffcc',GradientType=0 ); /* IE6-9 */
    border: 1px solid #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#links .tweets {
    background: transparent right bottom no-repeat url(/img/icons/twitter-128x128.png);
}
/* Tweetbox Colors */
.tweet-box ul, .tweet-box ul li, div.tweet-box {
    border-color: rgba(102,49,17,0.6);
}
.tweet-box i {
    color: #4099FF;
    display: inline-block;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
}

/*
 * Facebook like box
 */
.facebook {
    width: 420px;
    margin: 0 auto 25px auto;
    padding: 5px 10px;
    background: #feffff;
    background: -moz-linear-gradient(top, #feffff 0%, #d2ebf9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#d2ebf9));
    background: -webkit-linear-gradient(top, #feffff 0%,#d2ebf9 100%);
    background: -o-linear-gradient(top, #feffff 0%,#d2ebf9 100%);
    background: -ms-linear-gradient(top, #feffff 0%,#d2ebf9 100%);
    background: linear-gradient(top, #feffff 0%,#d2ebf9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 );

    -webkit-box-shadow: -5px -5px 15px 0px rgba(0,0,0,0.1), 5px 5px 15px 0px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: -5px -5px 15px 0px rgba(0,0,0,0.1), 5px 5px 15px 0px rgba(255, 255, 255, 0.1);
    box-shadow: -5px -5px 15px 0px rgba(0,0,0,0.1), 5px 5px 15px 0px rgba(255, 255, 255, 0.1);

    border: 1px solid #d2ebf9;
    -webkit-transform: rotate(-0.5deg);
    -moz-transform: rotate(-0.5deg);
    -ms-transform: rotate(-0.5deg);
    -o-transform: rotate(-0.5deg);
}
.facebook h2 {
    margin-bottom: 10px;
}
.facebook h2 a {

}
.facebook i {
    color: #3B5998;
    display: inline-block;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}

/*
 * Gallery (carousel)
 */
#gallery {
    width: 420px;
    margin: 25px 0 25px auto;
    -webkit-box-shadow: -5px -5px 15px 0px rgba(0,0,0,0.1), 5px 5px 15px 0px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: -5px -5px 15px 0px rgba(0,0,0,0.1), 5px 5px 15px 0px rgba(255, 255, 255, 0.1);
    box-shadow: -5px -5px 15px 0px rgba(0,0,0,0.1), 5px 5px 15px 0px rgba(255, 255, 255, 0.1);
}
/* images are 16:9 */
#gallery img {
    width: 420px;
    height: 236px;
}

/*
 * Other links
 */
.other-links {
    width: 80%;
    max-width: 300px;
    margin: 45px auto 25px auto;
}
.other-links.well {
    background: rgba(255,255,255,0.8);
    box-shadow: inset 1px 1px 20px 0px rgba(0,0,0,0.6);
    border-color: rgba(102, 49, 17, 0.6);
}
.other-links ul {
    font-size: 18px;
    margin: 0 auto;
    width: 100%;
}
.other-links ul a {
    font-weight: bold;
    width: 100%;
    display: block;
    padding: 5px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.other-links ul a:hover {
    text-decoration: none;
    color: white;
    background: #E84A5F;
}
.other-links ul a i {
    padding-left: 5px;
}

/*
 * Small DVD Box
 */
.dvd-small {
    -webkit-box-shadow: -5px -5px 15px 0px rgba(0,0,0,0.1), 5px 5px 15px 0px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: -5px -5px 15px 0px rgba(0,0,0,0.1), 5px 5px 15px 0px rgba(255, 255, 255, 0.1);
    box-shadow: -5px -5px 15px 0px rgba(0,0,0,0.1), 5px 5px 15px 0px rgba(255, 255, 255, 0.1);

    float: none;
    background: black;
    margin: 40px auto 0 auto;
    background: black url(/img/brighton-wok/pier-bg/pier-bg-800x600.jpg) 50% 100% no-repeat;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.dvd-small a.dvd {
    width: 174px;
    margin: 25px auto 0 auto;
    height: 240px;
    background: transparent url(/img/brighton-wok/dvd/box-174x240.png) 50% 50% no-repeat;
    display: block;
    text-indent: -3000px;
    float: none;
}
.dvd-small .information {
    width: 100%;
    margin-top: 0;
}
.dvd-small .buy {
    width: 80%;
    font-size: 12px;
}
.dvd-small .buy h2 {
    font-size: 20px;
}
.dvd-small .buy form {
    margin-bottom: 0;
}
.dvd-small .buy table.product-details {
    margin: 10px auto;
}



/* ==|== media queries ======================================================
   Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
/*
 * Device Specific Styles
 */

/* Bigger than standard 960 (most laptops, pcs) */
@media only screen and (min-width: 960px) {
    #movie {
        height: 600px;
    }
    .information {
        width: 500px;
        float: right;
        margin-top: 100px;
    }
    .dvd {
        margin-top: 0;
        margin-left: 0;
        /* width: 450px; */
        width: 40%;
        float: left;
    }
    .dvd img {
        margin-top: 50px;
        margin-left: 100px;
        float: right;
    }
    #video:before,
    #video:after {
        content: " ";
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        z-index: 1;
        box-shadow:inset 0px 0px 150px #000;
    }
    #video:before {
        left: 0;
        background: url(/img/brighton-wok/ganja-boxing-pattern.jpg) top left repeat;
    }
    #video:after {
        right: 0;
        background: url(/img/brighton-wok/ganja-boxing-pattern-2.jpg) top left repeat;
    }
}
@media only screen and (min-width: 767px) {
    #links {
        background: #151515 url(/img/brighton-wok/ganja-tile.jpg) top left repeat;
        box-shadow:inset 0px 0px 150px #000;
    }
    #links .about-group,
    #links .share-group {
        padding-top: 14px;
    }

}
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {


}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .dvd {
        text-align: center;
    }
    .dvd img {
        margin: 0 auto;
    }
    #links .reviews {
        width: 100%;
        max-width: 475px;
        margin: 0 auto;
    }
    #links .container {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    header.navbar h1 a.brighton-wok {
        width: 54px;
        background-image: url(/img/brighton-wok/leaf-small-header.png);
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    #links .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/*
 * Specfic style requirements
 */
@media (min-width: 1200px) {
    #gallery {
        width: 500px;
        margin-right: 0;
    }
    /* images are 16:9 */
    #gallery img {
        width: 500px;
        height: 281px;
    }
}

@media only screen and (max-width: 651px) {
    #video #video-selector {
        padding-top: 0;
        padding-bottom: 0;
    }
    #video a.video {
        width: 100%;
        height: auto;
        min-height: 225px;
        background-size: 100%;
    }
}
@media only screen and (max-width: 450px) {
    .title h1 {
        width: 100%;
        background-size: 100%;
    }
}
@media only screen and (max-width: 350px) {
    .dvd img {
        width: 100%;
        height: 100%;
    }
    .buy {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    #links .tweets-wrapper {
        width: 100%;
    }
}

@media (max-width: 979px) and (min-width: 768px) {
    #links .container {
        background: transparent;
        box-shadow: none;
        border: none;
    }
    #links {
        background: #5d381e url(/img/brighton-wok/wood-tile.jpg) top left repeat;
        box-shadow:inset 0px 0px 100px rgba(0,0,0,0.6), 0px 0px 50px #000;
    }
    .facebook {
        width: 100%;
    }
    #movie {
        height: 600px;
    }
    .information {
        width: 55%;
        float: right;
        margin-top: 100px;
    }
    .dvd {
        margin-top: 0;
        margin-left: 0;
        width: 45%;
        float: left;
    }
    .dvd img {
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        float: right;
    }
    #gallery {
        width: 100%;
        height: auto;
    }
    .dvd-small .buy {
        width: 350px;
    }
    .dvd-small {
        min-width: 560px;
    }
    #links .about {
        padding-left: 0;
    }
}
@media screen and (max-width: 767px) {
    #links .tweets-wrapper {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    .facebook {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    #gallery {
        margin-right: auto;
    }
    .dvd-small {
        background: black;
    }
    #links .about {
        padding-left: 0;
    }
}

/*
 * Pier Background image specific
 */
@media screen and (min-width: 800px) {
    .index #main {
        background-image: url(/img/brighton-wok/pier-bg/pier-bg-800x600.jpg) ;
        background-color: black;
        background-position: 50% 0;
        background-repeat: no-repeat;
    }
}
@media screen and (min-width: 1920px) {
    .index #main {
        background-image: url(/img/brighton-wok/pier-bg/pier-bg-1920x600.jpg) ;
    }
}
@media screen and (max-width: 1440px) {
    .index #main {
        background-image: url(/img/brighton-wok/pier-bg/pier-bg-1440x600.jpg) ;
    }
}
@media screen and (max-width: 1280px) {
    .index #main {
        background-image: url(/img/brighton-wok/pier-bg/pier-bg-1280x600.jpg) ;
    }
}
@media screen and (max-width: 1152px) {
    .index #main {
        background-image: url(/img/brighton-wok/pier-bg/pier-bg-1152x600.jpg) ;
    }
}
@media screen and (max-width: 1024px) {
    .index #main {
        background-image: url(/img/brighton-wok/pier-bg/pier-bg-1024x600.jpg) ;
    }
}
@media screen and (max-width: 800px) {
    .index #main {
        background-image: none;
    }
}

