/* 
 * Convict Films stylesheet. 
 * Saul <saul@saulhoward.com>
 *
 * Assumes Bootstrap is in place.
 * Also thanks to: http://h5bp.com/css
 */
/* ==========================================================================
 * CONVICT FILMS PALETTE
 *
 * Source: http://www.colourlovers.com/palette/1098589/coup_de_gr%C3%A2ce
 * Very dark Grey-blue-black
 *     #2A363B
 * Light orangey-pink
 *     #E84A5F
 *
 * Source: http://www.colourlovers.com/palette/15/tech_light
 * Limey (mid green)
 *     #D1E751
 * White
 *     #FFFFFF
 * Black
 *     #000000
 * Electric Blue (mid blue)
 *     #4DBCE9
 * Blube (darker blue)
 *     #26ADE4
 *
   ========================================================================== */
/* =============================================================================
   Links
   ========================================================================== */

a { color: #E84A5F; }
a:visited { color: #E84A5F; }
a:hover { color: #E84A5F; }
a:focus { outline: thin dotted; }



p a { color: white; border-bottom: 1px dotted #E84A5F; }
p a:visited { color: white; }
p a:hover { text-decoration: none; border-bottom: 1px solid #E84A5F; background-color: #E84A5F; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* ==========================================================================
 * General Typography, colors etc
   ========================================================================== */
body, p {
    font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #dddddd;
}
h1, h2, h3, h4, h5, h6 {
    color: white;
}

.well {
    background-color: rgba(0,0,0,0.4);
}
/* Hero */
.hero-unit {
    background-color: #151515;
    background-color: rgba(0,0,0,0.4);
    background-image: url(/img/convict-films/pixellated-beachy-head.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 10px black;
}
.hero-unit h1 {
    color: #D1E751;
}

.thumbnail {
    background-color: #151515;
    background-color: rgba(0,0,0,0.4);
    border-color: black;
}

h2 i, .what-we-do i {
    color: #4DBCE9;
}


/* ==========================================================================
 * Layout, div specifics
   ========================================================================== */
#main > .container {
    padding-bottom: 40px;
}
.row.featured-videos {
    padding-bottom: 20px;
}
#page-container {
    background-image: url(/img/convict-films/square_bg.png);
    background-color: #2A363B;
}
/*Separator Div
 **/
.separator {
    width: 100%;
    height: 15px;
    background: black url(/img/convict-films/metal-header-bg.png) top left repeat-x;
    border-top: 1px solid #444;
    border-bottom: 1px solid #222;
    box-shadow: 0 2px 5px 0px rgba(0,0,0,0.4);
    position: relative;
}
.separator.footer {
    background: black url(/img/convict-films/metal-header-bg.png) bottom left repeat-x;
    margin-top: 40px;
}

/* Brighton Wok advert div (front-page) */
.brighton-wok {
    background: black url(/img/brighton-wok/pier-bg/pier-bg-570x360.jpg) 50% 100% no-repeat;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid black;
    margin-right: -2px;
    -webkit-box-shadow: inset 1px 1px 20px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: inset 1px 1px 20px 0px rgba(0,0,0,0.6);
    box-shadow: inset 1px 1px 20px 0px rgba(0,0,0,0.6);
}
.brighton-wok .details {
    margin-top: 15px;
}
.brighton-wok p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-right: 10px;
}
.brighton-wok h2 {
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 34px;
    text-shadow: 1px 1px 1px black;
    margin-top: 5px;
}
.brighton-wok h2 a {
    color: yellow;
}
.brighton-wok a.dvd {
    width: 174px;
    margin: 0 auto;
    height: 240px;
    background: transparent url(/img/brighton-wok/dvd/box-174x240.png) 50% 50% no-repeat;
    display: block;
    text-indent: -3000px;
}

/*
 * DVD page
 */
body.dvd .dvd-image img {
    margin: 0 auto;
    display: block;
}
body.dvd form {
    margin: 0 auto;
    text-align: center;
}
.paypal-links {
    background-color: white;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-width: 400px;
    margin: 25px auto;
}
body.dvd table.dvd-details {
    width: 400px;
    margin: 0 auto 25px auto;
}
/* ==========================================================================
 * Forms
   ========================================================================== */
label {
    color: #26ADE4;
}
legend {
    color: #ccc;
    border-bottom: 1px solid #666;
}
.form-actions {
    background-color: rgba(0,0,0,0.5);
    border-top: 1px solid #333;
}
input, textarea, select, .uneditable-input {
    background-color: #eee;
    border: 1px solid #666;
}
.input-prepend .add-on,
.input-append .add-on {
    color: #666;
    text-shadow: 0 1px 0 #EEE;
    background-color: #ccc;
    border-color: #666;
}
.help-block, .help-inline {
    color: #777;
}

/* ==|== media queries ======================================================
   Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

/* Hero unit padding on v. small size */
@media (max-width: 450px) {
    .hero-unit {
        padding: 20px;
    }
    .brighton-wok {
        background-color: transparent;
        background-image: none;
    }
}
@media (max-width: 979px) and (min-width: 768px) {
    body.dvd table.dvd-details {
        width: 100%;
    }
}
@media screen and (max-width: 767px) {
    body.dvd table.dvd-details {
        width: 100%;
    }
}


