/* @override http://saulhoward.com/static/css/layout.css */
/*
 * Palette (light -> dark):
 * 
 * Rain - #BEE2E7
 * Windy Day - #4F57AA
 * Dark Motion - #454857
 * Silver Lining - #72818B
 * Velvet Pink - #8F002E
 * (http://www.colourlovers.com/palette/149132/Blue_Hippopotamus )
 * 
 */
/* @group Typography */

*, body {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.6;
	font-size: 100%;
	margin: 66px 0 24px 0;
	background: #fffdf9;
	color: #555;
	color: rgba(0,0,0,0.7);
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

	font-family: "Droid Serif", Georgia, Times, serif;	}

a {
	text-decoration: none;
	color: #4F57AA;
	font-weight: bold;
	background-color: rgba(255,246,224,0.0);	
	-o-transition-property: color;
	-webkit-transition-property: color;
	-moz-transition-property: color;
	transition-property: color;
	 -o-transition-duration: 0.2s;
	 -webkit-transition-duration: 0.2s;
	 -moz-transition-duration: 0.2s;
	 transition-duration: 0.2s;	
	}
a:hover,
a:focus {
	color: #333;
	}
	
a:visited {
	background: none;
	font-weight: normal;
	}
header h1 {
font-family:	"IM Fell English",
                Georgia,
                serif;	
}


/* h1, h2,h3,h4, nav, cite, footer, .caption, .date, .social p, .org, .details, .previous a, .next a { */
h1, nav, cite, footer, .caption, .date, .social p, .details, .previous a, .next a {
font-family:	
                "Helvetica Neue",
				Helvetica, 
                "Droid Sans",
				Arial,
				sans-serif;	
}
header h1 {
font-family:	"IM Fell English",
                Georgia,
                serif;	
}
em,
blockquote p,
article dl dt {
	font-family: "Droid Serif italic", Georgia, Times, serif;	
}

header {
    border-bottom: 2px dotted #ccc;
	min-height: 50px;
	}
	
h1 {
	font-size: 2.25em;
	font-weight: 300;
	line-height: 1.2;
	letter-spacing: -1px;
	color: #aaa;
	margin: 0 25% 0 0 ;
	padding: 0 0 1em 0;
	-webkit-font-smoothing: subpixel-antialiased;
	}
	
h1 a {
	font-weight: 300;
    color: #8F002E;
	}
	
h1 strong {
	color: #e38549;
	}
	
h2 {
	font-size: 1.125em;
    font-weight: 500;
	line-height: 1.2;
	margin: 0 0 1em 0;
	color: #454857;
	/* text-transform: uppercase; */
	letter-spacing: 2px;
	}
	
h2 a {
	font-weight: 600;
	}
	
article h1 {
    font-size: 2.0em;
    padding: 0 0 1em 0;
	color: #72818B;
    font-weight: 300;
}

article h2 {
    font-size: 1.5em;
    font-weight: 300;
	line-height: 1.2;
	text-transform: none;
	letter-spacing: 0;
    margin: 1.2em 0 .8em 0;
	color: #72818B;
	}
	
.archives h2 {
	margin: 0 0 0.5em 0;
	}
.archives h4+h2 {
	/* border-top: 2px dotted #ccc; */
	margin: 1em 0 0.5em 0;
	padding: 1em 0 0 0;
	}	
.org {
	text-transform: uppercase;
	font-size: 0.93em;
	}
	
h3 {
    font-weight: 300;
	font-size: 1.1em;
	line-height: 1.2;
	margin: 0 0 0.5em 0;
	text-transform: none;
	letter-spacing: 1px;
	/* color: #72818B; */
}

p+h3 {
	margin: 2em 0 0.25em 0;
	}
	
h3.date {
	margin: 0 0 0 1.5em 0;
	font-size: 0.81em;
	}
	
h4 {
	font-size: 0.875em;
	/* font-weight: bold; */
	}
	
.wallpaper h4 {
	font-size: 0.75em;
	letter-spacing: 2px;
	text-transform: uppercase;
	}
	
p, ul, ol, .lines, object, input, code {
	/* margin: 0 0 0.875em 0; */
	margin: 0 0 1em 0;
	}
	
p, ul, ol, cite, table, code, .fusionentire {
	/* font-size: 0.875em; */
	font-size: 1em;
	}
	
section p,
.fusionentire {
	font-size: 0.8125em;
	line-height: 1.5;
	}
	
img {
	border: 0;
	vertical-align: middle;
	}

blockquote p {
    font-size: 1em;
    /*line-height: 2;*/
    text-indent: -0.4em;
    margin: 0 0 0.5em 0;
    padding: 0 0 0 2em;
    font-style: italic;
    border-left: 1px solid #ccc;
	color: #777;
}

blockquote p:before {
	content: '“';
	font-size: ;
	}
blockquote p:after {
	content: '”';
	}	
	
cite {
	display: block;
	text-align: right;
	font-style: normal;
	}
	
pre {
	background: #f8f8f8;
	overflow: auto;
	padding: 0.75em;
	margin: 0 0 1em 0;
    border-left: 1px solid #ccc;	
   }

code {
	font-family: Inconsolata, monospace;
	background: #f8f8f8;
	}
	
fieldset {
	border: 0;
	}
	
article ul,
article ol {
	padding: 0 0 0 1.2em;
	}

article li {
	margin: 0 0 0.2em 0;
}
article ul li {
   /* list-style: disc url(/static/images/icons/16/bullet_black.png) outside;  */
    list-style-type:none;
   background:url(/static/images/icons/16/bullet_black.png) 0px 5px no-repeat; 
   padding-left:18px;
	}
	
.logo {
    text-indent: -3000px;
	/* font-size: 0.8em; */
    /* text-align: center; */
	/* font-weight: 300; */
    /* font-family: "IM Fell English"; */
    /* color: #8F002E; */
    /* line-height: 210px; */
	}
nav {
}
	
nav ul {
	border: 2px dotted #ccc;
    padding: 5px;
	list-style-type: none;
	font-size: 0.875em;
	line-height: 1;
    margin: 0 auto;
	}
	
nav a {
    letter-spacing: 2px;
	display: block;
	padding: 0.35em 0.3em 0.2em 0.3em;
	line-height: 1;
	}
	
nav a, nav a:visited {
	font-weight: 900;
	}

/*selected states*/
#default .n-work a,
#work .n-work a,
#speaking .n-speaking a,
#journal .n-journal a,
#archive .n-journal a,
#tag .n-journal a,
#goodies .n-goodies a,
#boxmodel .n-goodies a,
#iconreference .n-goodies a,
#contact .n-contact a { 
	color: #333;
}

.date {
	text-transform: uppercase;
	font-size: 0.875em;
	font-weight: bold;
	letter-spacing: 2px;
	}
	
.details {
	list-style: none;
	font-size: 0.75em;
	overflow: hidden;
	padding: 0;
	margin: 2em 0 1em 0;
	}
	
.details li {
	float: left;
	margin: 0 1em 0 0;
	line-height: 1.4;
	border-right: 1px solid #ccc;
	padding: 0 1em 0 0;	}
	
li.tags,
li.service {
	border-right: 0;
	padding: 0 1em 0 0;
	}
	
.posted b {
	font-size: 1em;
	letter-spacing: 1px;
	color: #e60000;	
	text-transform: uppercase;
	}
	
.details span {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	color: #aaa;
	}
	
.details a {
	/*text-transform: uppercase;*/
	}

footer {
	color: #666;
	font-size: 0.75em;
	}
	
.fusionentire {
	display: block;
	font-size: 0.75em;
	}
	
.fusionentire a {
	font-weight: normal;
	}

.fusionpower {
	text-transform:uppercase;
	font-size: 0.7em;
	font-weight: bold;
	}

.social p {
	font-size: 0.75em;
	line-height: 1.8;
	margin: 0 0 0.2em 0;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	}
	
.vcard p { margin: 0; }
.vcard .adr { margin: 0 0 0.875em 0; overflow: hidden;}
	
/* @end */

/* @group Responsive Typesetting */
	
@media screen and (max-width: 500px) {
	nav ul{font-size: 0.75em;}}
	
@media screen and (max-width: 800px) {
	body { font-size: 95%; }}
	
@media screen and (min-width: 1024px) {
	body { font-size: 105%; }}
	
		
/* @end */

/* @group Layout */

/*html5 elements*/	
article,section,nav,header,footer {
	display: block;
	}
	
/*Borders*/
#te, #le, #re, #be {
	position: fixed;
	z-index: 10;
	background-color: #f9f2e3;
	display: block;
}
#te {
	height: 10px;
	left: 0;
	right: 0;
	top: 0;
	padding: ;
}

#te b {
	display: block;
	height: 10px;
	position: absolute;
	left: 74%;
	right: 8%;
	background: url(/images/paulsmith.gif);
	}

#be {
	height: 20px;
	left: 0;
	right: 0;
	bottom: 0;
}
#le {
	width: 10px;
	left: 0;
	bottom: 0;
	top: 0;
}

#re {
	width: 10px;
	top: 0;
	right: 0;
	bottom: 0;
}
/*Main Layout*/
.page {
	margin: 0 8%;	
	}
	
.logo {
	margin: 0 0 1em 78%;
	background-image: url(/static/images/saulhowardlogo.png);
	background-repeat:no-repeat;
    background-position: center 0;
	padding: 44px 0 0 0;

    display: block;
    height: 138px;
    /* width: 138px; */
	}
	
nav {
	overflow: hidden; /*clear floats*/
	width: 22%;
	float: right;
	margin: 0 0 0 3%;
	}

header {
	position: relative;
	margin: -40px 0 1em 0;
	padding: 0 0 1em 0;
	width: 70%;
	}
	
.icon {
	float: right;
	width: 25%;
	text-align: center;
	margin-left: 2em;
	}
	
.icon img {
	width: 100%;
	height: auto;
	}
	
#content {
		width: 100%;
		padding: 0 0 3em 0;
	}

#main {
	width: 72%;
	float: left;
	padding: 0 0 6em 0;
	}
	
#side {
	float: right;
	width: 22%;
	padding: 2em 0 0 0;
	}
	
footer {
	clear: both;
	border-top: 2px dotted #ccc;
	padding: 1.5em 0 3em 0;
	}
footer p {
	margin: 0;
	}
	
/*Articles*/

article {
	margin: 1em 0 1em 0;
	padding: 0 0 0.5em 0;
	}

article img {
	height: auto;
	max-width: 100%;
	}
	
article img.fr {
	float: right;
	margin: 0 0 1.5em 1.5em;
	width: auto;
}

article dl dt {
    font-style: italic;
    padding: 0.4em 0 0 0;
}

article dl dd {
    padding-left: 1em;
}

article .adr {
}
article .adr p {
    margin: 0;
}
	
article object,
article embed {
	width: 100%;	
	}
.photo img {
	margin: 0 0 0.5em 0;
	}	
.backanforth {
	overflow: hidden;
	border-bottom: 2px dotted #ccc;
	margin: 0 0 1.5em 0;
	}
	
.previous a, .next a {
	display: block;
	padding: 2em 0 0 0;
	margin: 0 1% 1em 0;
	background-repeat: no-repeat;
	background-position: 50% 0.5em;
	float: left;
	width: 48%;
	text-align: center;
	text-transform: uppercase;
	letter-spacing:2px;
	font-size: 0.875em;
}

.previous a { background-image: url(/images/older.png);}
.next a { background-image: url(/images/newer.png); margin 0 0 1em 0;}
	
.archives {
	margin: 0 0 1em 0;
	}
	
.archives span {
	float: left;
	width: 5em;
	color: #e60000;	
	margin: 0 1em 0 -6em;
	}
	
.archives h4 {
	padding: 0 0 0 6em;
	}

#archive .archives span {
	width: 1.5em;
	margin: 0 1em 0 -1.5em;
	}
	
#archive .archives h4 {
	padding: 0 0 0 1.5em;
	margin: 0 0 0 2em;
	}	
	
.search {
	border-top: 2px dotted #ccc;
	padding: 1em 0 0 0;
	}
	
.search label {
	margin: 0 1em 0 0;
	}

.search #q {
	padding: 0.5em;
	border: 1px solid #bbb;
	width: 30%;
	font-size: 0.875em;
	}
	
input.submit {
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	background: #eee;
	border: 1px solid #bbb;
	-webkit-appearance: none;
	font-size: 0.875em;	
	padding: 0.5em;
	margin: 0 0 0 -1px;
	}
	
/*Side items*/

section{
	margin: 0 0 1em 0;
	background-repeat: no-repeat;
	background-position: 0 0.5em;
	}

section ul{
    margin-left: 1em;
}
section ul.downloads li.pdf {
   list-style: disc url(/static/images/icons/16/pdf.png) outside; 
}
	
section h3 {
	color: #72818B;
}
#side section{
	margin: 0 0 3em 0;
	}

section+section {
	border-top: 2px dotted #ccc;
	padding: 1em 0 0 0;
	}
	
.fusion img {
	margin: 0 0 0.5em 0;
	}
	
.fusionpower {
	display: block;
	margin: 0.5em 0 0 0;
	}

.social img {
	width: 16px;
	height: 16px;
	margin: -3px 3px 0 0;
	}
		
.playlist ul,
#zootool-badge ul {
	overflow: hidden;
	width: 100%;
	list-style-type: none;
	}

.playlist li,
#zootool-badge li {
	float: left;
	width: 50%;
	margin: 0.25em 0;
	list-style-type: none;
	}

.playlist li.first{
	width: 100%;
	height: auto;
	}
			
.playlist a,
#zootool-badge a  {
	display: block;
	}

.playlist li img,
#zootool-badge img {
	height: auto;
	width: 90%;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,0.4);
	box-shadow: 0 0 6px rgba(0,0,0,0.4);
	}
	
.playlist li.first img {
	width: 95%;
	}
	
#zootool-badge img {
	outline: 2px solid #fff;
	}
	
	
/* 04 Goodies Section*/	

.wallpaper {
	width: 100% !important;
	}

.wallpaper a {
	/*display: block;*/
	}
		
.wallpaper img {
	max-width: 100%;
	height: auto;
	margin: 0 0 0.5em 0;
	}
	
.iphone img {
	max-width: 30.5%;
	height: auto;
	margin: 0 1%;
	}

	
/* 05 Contact section*/

.needs {
	list-style-type: none;
	padding: 0;
	}
	
.needs li {
	margin: 0 0 0.75em 0;
	padding: 2em 0 0 0;
	background-repeat: no-repeat;
	background-position: 0 0;
	}

	.needs .time {	background-image: url(/images/sideicons_timescale.png);}
	.needs .budget {	background-image: url(/images/sideicons_budget.png);}
	.needs .scope {	background-image: url(/images/sideicons_scope.png);}
	
	
.postcard {
	width: 50%;
	float: right;
	margin: 0 -1em 1em 1em;
	height: auto;
	-webkit-border-radius:2px;
}
	
#contact .next a {
	width: 100%;
	}
	
/* Icon chart */

#iconreference nav {
	display: none;
	}
	
#iconreference #content {
	width: 100%;
	}

#iconreference .logo {
	position: absolute !important;
	}

table#iconref {
		width: 100%;
		margin: 0 0 3em 0;
		/*font-family: helvetica;*/
		line-height: 1.4;
		border-collapse: collapse;
	}
	
#iconref img {
	display: block;
	margin: 0.5em 0;
	}

td, th {
	vertical-align:top;
	padding:0.75em;
	text-align:left;
}
table.small td {
	padding: 0 0.75em 0 0;
}
th {
	color:#999;
}

tr {
	border-bottom: 1px solid #ccc;
	}

.device {
	min-width: 8em;
	}
	
td.device {
	font-weight: bold;
	}
	
.size {
	max-width: 2em;
	}

.notes {
	width: 35%;
	}

		
/* @end */

/* @group Layouts for resolutions */

/*layouts smaller than 600px, iPhone and mobiles*/
@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px)  {

		html {
		background-color: #DCEFF2;
		padding: 12px;}
		
		#be, #te, #le, #re { display: none;}
		body { margin: 0; padding: 16px;}
		.page { margin: 0; }
		.logo {
			margin: 0;
			background-position: center top;
            max-height: 138px;
            padding: 0;
			text-align: center;
		}
		header {
			overflow: hidden;
			margin: 0 0 0.5em 0; 
			min-height: 1em;
            padding: 0;
			width: auto;
			}
		h1{font-size: 1.5em;}
		article h1{font-size: 1.5em;}
		header h1{font-size: 2em;}
		h2 {text-align: center;}
		nav {
			margin: 1em 0;
			width: auto;
			float: none;
			text-align: center;
		}
		nav li {
			display: inline;
		}
		nav a {
			display: inline;
			margin: 0 0.2em;
			line-height: 2;
			letter-spacing: 0;
		}		
		nav li:last-child a {
			margin: 0;
		}
	
		#side {
			float: none;
			width: auto;
		}
		
		#main {
			width: auto;
			float: none;
			padding: 0 0 2em 0;
		}
		#side {
			/* border-top: 2px dotted #ccc; */
			padding: 1.5em 0 3em 0;
		}
		#goodies #side {border-top: 0;}
		#side section {margin: 0 0 1em 0;}
		
		section p,.fusionentire { font-size: 0.875em; }
		.fusion img { float: left;margin: 0 1em 0 0 ;}
		.fusion, .social { overflow: hidden; }
		.social p { float: left; width: 33%;}
		.thumbs li {width: 46%;}
		.postcard {
			width: 100%;
			margin: 0 0 1em 0;
			float: none;
	}
	.vcard p {
	display: inline;
	padding: 0 0.25em 0 0;
	}
	.vcard p:after {
	content: "/";
	padding: 0 0 0 0.25em;
	color: #999;
	}

	}

@media screen and (min-width: 920px) {
	/*layouts larger than 900px*/
	nav, 
	.logo, 
	footer {	
		width: 16%;
		position: fixed;
		right: 8%;
		z-index: 100;
		}
	
	#te b {
		left: 76%;
		right: 8%;
	}
	header {margin: 0 0 1em 0;width: auto;}
	h1 { padding: 0;}
	.logo { top: 90px; }
	nav { top: 260px; bottom: 20px; /*background: url(/images/corner-small.png) no-repeat left bottom;*/ }
	nav a {
        text-transform: uppercase;
		float: none;
		text-align: left;
		margin: 0.2em 0;
		width: auto;
	}
	/*selected states*/
	#default .n-work a,
	#work .n-work a,
	#speaking .n-speaking a,
	#journal .n-journal a,
	#archive .n-journal a,
	#tag .n-journal a,
	#goodies .n-goodies a,
	#boxmodel .n-goodies a,
	#iconreference .n-goodies a,
	#contact .n-contact a { 
		background: url(/images/here.png) no-repeat 90% 50%;	
	}
	#content { width: 76%; }
	.body { padding: 0 0 0 3.8em;}
	.link .body {background: url(/images/link.png) no-repeat;
	}
	footer {
		bottom: 2px;
		padding: 0;
		border: 0;
	}
	.icon img { width: auto; }
	
	.needs li {
	margin: 0 0 0.75em -3.8em;
	padding: 0 0 0 3.8em;
	background-position: 1em 0;
	}
	}
	
	
@media screen and (min-width: 1350px) {
	
	#side, .icon { width: 32%; }
	#main { width: 60%; }
	
	#side section {
		width: 46%;
		margin: 0 8% 2em 0;
		float: left;
	}
	
	#side section:nth-child(odd) { clear: left; }
	#side section:nth-child(even) { margin: 0 0 2em 0; }
	
	section.fusion, section.emaillink, section.clients { border: 0; padding: 0;}
	.emaillink .next a { text-align: left;}
	.thumbs li {width: 21%;}
	}
	
@media screen and (min-width: 1500px) {
	.page { margin: 0 8% 0 12%; }
	}
	
/*Just iPhone*/
@media only screen and (max-device-width: 480px) {
	h2 {
	letter-spacing: 0;
	text-transform: capitalize;
	}
}
	
/*iPad styles*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		html {background-color: #DCEFF2;padding: 12px;}
		#be, #te, #le, #re { display: none;}
		body { margin: 0; padding: 20px 24px 24px 24px;}
		.page { margin: 0; }	
		a, .posted b {font-weight: normal!important;} /*because Gill Sans bold is too chunky!*/
		h1 {color: #666;}
		footer {clear: both;position: static;}
	}

/* @end */

.beta {
	font-family: Helvetica,arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	display: block;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 8%;
	background: yellow;
	padding: 10px 20px;
	}
