<header class="jumbotron subhead" id="overview">
        <h1>Video Library</h1>
        <p class="lead">
        Browse the archives
        </p>
</header>

<div class="row">
    <div class="span12">
        <ul class="thumbnails">

            {{range .videos}}
                <li class="span3">
                    <div class="thumbnail">
                        <a href="{{.Location}}">
                            {{if eq .Thumbnail ""}}
                            <img 
                            src="http://placehold.it/210x180"
                            width="210"
                            alt="Placeholder"
                            >
                            {{else}}
                            <img 
                            src="{{.Thumbnail.URL}}"
                            width="210"
                            alt=""
                            >
                            {{end}}
                        </a>
                        <h5>{{.Title}}</h5>
                        <p>{{.ShortDescription}}</p>
                    </div>
                </li>
            {{end}}

        </ul>
    </div>
</div>

{{/* Add a New Video */}}
{{if eq .requestingUser.Role "superadmin"}}
    <div class="row">
        <div class="span4">
                <h2>Add new videos here</h2>
                <p>
                Fill in the video details to add a new video to Convict
                Films.
                </p>
                <p>
                    Each video will get a unique URL on each site that you
                    choose.
                </p>
                <p>
                    If you give a Youtube or Vimeo ID, details will be
                    downloaded from those sites.
                </p>
        </div>
        <div class="span8">

            <form method="POST" action="{{.url}}" class="form-horizontal">
                <fieldset>
                    <legend>Video details</legend>

                    <div class="control-group {{if .errors.Name}}error{{end}}">
                        <label class="control-label" for="Name">Name</label>
                        <div class="controls">
                            <input
                                type="text"
                                class="input-xlarge"
                                id="Name"
                                name="Name"
                                value="{{.video.Name}}"
                                placeholder="brighton-wok-trailer"
                                >
                            <p class="help-block">
                                {{or .errors.Name "'URL name' - must contain letters, numbers or dashes, but no spaces."}}
                            </p>
                        </div>
                    </div>

                    <div class="control-group {{if .errors.Title}}error{{end}}">
                        <label class="control-label" for="Title">
                            Title
                        </label>
                        <div class="controls">
                            <input
                                type="text"
                                class="input-xlarge"
                                id="Title"
                                name="Title"
                                value="{{.video.Title}}"
                                placeholder="Brighton Wok Trailer 2008"
                                >
                            <p class="help-block">
                                {{or .errors.Title "Full title of the video."}}
                            </p>
                        </div>
                    </div>

                    <div class="control-group {{if .errors.Date}}error{{end}}">
                        <label class="control-label" for="Date">
                            Date
                        </label>
                        <div class="controls">
                            <input
                                type="text"
                                class="input-xlarge datepicker"
                                id="Date"
                                name="Date"
                                value="{{.video.Date}}"
                                placeholder="2012-04-01"
                                data-date-format="yyyy-mm-dd"
                                >
                            <p class="help-block">
                                {{or .errors.Date "Project date."}}
                            </p>
                        </div>
                    </div>

                    <div class="control-group {{if .errors.ShortDescription}}error{{end}}">
                        <label class="control-label" for="ShortDescription">
                            Short Description
                        </label>
                        <div class="controls">
                            <input
                                type="text"
                                class="input-xlarge"
                                id="ShortDescription"
                                name="ShortDescription"
                                value="{{.video.ShortDescription}}"
                                placeholder="The Legend of Ganja Boxing"
                                >
                            <p class="help-block">
                                {{or .errors.ShortDescription "Short description, to use as a sub-title."}}
                            </p>
                        </div>
                    </div>

                    <div class="control-group {{if .errors.Description}}error{{end}}">
                        <label class="control-label" for="Description">
                            Description
                        </label>
                        <div class="controls">
                            <textarea
                                class="input-xlarge"
                                id="Description"
                                name="Description"
                                rows="5"
                                >{{.video.Description}}</textarea>
                            <p class="help-block">
                                {{or .errors.Description "Video description - uses Markdown"}}
                            </p>
                        </div>
                    </div>

                    <div class="control-group {{if .errors.Sites}}error{{end}}">
                        <label class="control-label" for="Sites">Sites</label>
                        <div class="controls">

                            <label class="checkbox">
                                <input type="checkbox"
                                name="Sites.0.Name"
                                id="Sites.0.Name"
                                value="convict-films" 
                                >
                                Convict Films
                            </label>

                            <label class="checkbox">
                                <input type="checkbox"
                                name="Sites.1.Name" 
                                id="Sites.1.Name" 
                                value="brighton-wok">
                                Brighton Wok
                            </label>

                            <p class="help-block">
                                {{or .errors.Sites "The video will be displayed on the sites that you select here"}}
                            </p>
                        </div>
                    </div>

                </fieldset>
                <fieldset>
                    <legend>Vimeo video</legend>

                    <div class="control-group {{if .errors.ExternalVideos.Vimeo}}error{{end}}">
                        <label class="control-label"
                            for="ExternalVideos.Vimeo.ID">Vimeo ID</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">vimeo.com/</span>
                                <input
                                    type="text"
                                    class="input"
                                    id="vimeo prependedInput"
                                    name="ExternalVideos.Vimeo.ID"
                                    value="{{.video.ExternalVideos.Vimeo.ID}}"
                                    placeholder="35687624"
                                    >
                                <p class="help-block">
                                    {{or .errors.ExternalVideos.Vimeo "Vimeo ID, from the Vimeo page URL"}}
                                </p>
                            </div>
                        </div>
                    </div>
                </fieldset>


                <fieldset>
                    <legend>Youtube video</legend>

                    <div class="control-group {{if .errors.ExternalVideos.Youtube}}error{{end}}">
                        <label class="control-label"
                            for="ExternalVideos.Youtube.ID">Youtube ID</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">&hellip;/watch?v=</span>
                                <input
                                    type="text"
                                    class="input"
                                    id="youtube prependedInput"
                                    name="ExternalVideos.Youtube.ID"
                                    value="{{.video.ExternalVideos.Youtube.ID}}"
                                    placeholder="hFSlQrB3iGY"
                                    >
                                <p class="help-block">
                                    {{or .errors.ExternalVideos.Youtube "Youtube ID, from the Youtube page URL"}}
                                </p>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="form-actions">
                    <button type="submit"
                        class="btn btn-primary"
                        >Add Video</button>
                    <button
                        class="btn">Cancel</button>
                </div>
            </form>
        </div>
    </div>
{{end}}
