<header class="jumbotron subhead" id="overview">
        <h1>Video Library</h1>
        <p class="lead">
        Browse the archives
        </p>
</header>

<div class="row">
    <div class="span12">
        <ul class="thumbnails">

            {{range .videos}}
                <li class="span3">
                    <div class="thumbnail">
                        <a href="{{.Location}}">
                            {{if eq .Thumbnail ""}}
                            <img 
                            src="http://placehold.it/210x180"
                            width="210"
                            alt="Placeholder"
                            >
                            {{else}}
                            <img 
                            src="{{.Thumbnail.URL}}"
                            width="210"
                            alt=""
                            >
                            {{end}}
                        </a>
                        <h5>{{.Title}}</h5>
                        <p>Thumbnail caption right
                        here...</p>
                    </div>
                </li>
            {{end}}

        </ul>
    </div>
</div>

<div class="row">
    <div class="span6">

        {{if eq .requestingUser.Role "superadmin"}}
            <h2>Add a video</h2>
            <form method="POST" action="{{.url}}" class="form-horizontal">
                <fieldset>
                    <legend>Video details</legend>

                    <div class="control-group {{if .errors.Name}}error{{end}}">
                        <label class="control-label" for="Name">Name</label>
                        <div class="controls">
                            <input
                                type="text"
                                class="input-xlarge"
                                id="Name"
                                name="Name"
                                value="{{.video.Name}}"
                                placeholder="brighton-wok-trailer"
                                >
                            <p class="help-block">
                                {{or .errors.Name "'URL name' - should be letters and no spaces."}}
                            </p>
                        </div>
                    </div>

                    <div class="control-group {{if .errors.Title}}error{{end}}">
                        <label class="control-label" for="Title">
                            Title
                        </label>
                        <div class="controls">
                            <input
                                type="text"
                                class="input-xlarge"
                                id="Title"
                                name="Title"
                                value="{{.video.Title}}"
                                placeholder="Brighton Wok Trailer 2008"
                                >
                            <p class="help-block">
                                {{or .errors.Title "Full title of the video."}}
                            </p>
                        </div>
                    </div>

                    <div class="control-group {{if .errors.Description}}error{{end}}">
                        <label class="control-label" for="Description">
                            Description
                        </label>
                        <div class="controls">
                            <textarea
                                class="input-xlarge"
                                id="Description"
                                name="Description"
                                rows="5"
                                >{{.video.Description}}</textarea>
                            <p class="help-block">
                                {{or .errors.Description "Video description - uses Markdown"}}
                            </p>
                        </div>
                    </div>

                    <div class="control-group {{if .errors.Sites}}error{{end}}">
                        <label class="control-label" for="Sites">Sites</label>
                        <div class="controls">

                            <label class="checkbox">
                                <input type="checkbox"
                                name="Sites.0.Name"
                                id="Sites.0.Name"
                                value="convict-films" 
                                >
                                Convict Films
                            </label>

                            <label class="checkbox">
                                <input type="checkbox"
                                name="Sites.1.Name" 
                                id="Sites.1.Name" 
                                value="brighton-wok">
                                Brighton Wok
                            </label>

                            <p class="help-block">
                                {{or .errors.Sites "The video will be displayed on the sites that you select here"}}
                            </p>
                        </div>
                    </div>

                </fieldset>
                <fieldset>
                    <legend>Vimeo video</legend>

                    <div class="control-group {{if .errors.VimeoId}}error{{end}}">
                        <label class="control-label" for="Vimeo.Id">Vimeo ID</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">vimeo.com/</span>
                                <input
                                    type="text"
                                    class="input"
                                    id="Vimeo.Id prependedInput"
                                    name="Vimeo.Id"
                                    value="{{.video.Vimeo.Id}}"
                                    placeholder="35687624"
                                    >
                                <p class="help-block">
                                    {{or .errors.VimeoId "Vimeo ID, from the Vimeo page URL"}}
                                </p>
                            </div>
                        </div>
                    </div>
                </fieldset>


                <fieldset>
                    <legend>Youtube video</legend>

                    <div class="control-group {{if .errors.YoutubeId}}error{{end}}">
                        <label class="control-label" for="Youtube.Id">Youtube ID</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">&hellip;/watch?v=</span>
                                <input
                                    type="text"
                                    class="input"
                                    id="Youtube.Id prependedInput"
                                    name="Youtube.Id"
                                    value="{{.video.Youtube.Id}}"
                                    placeholder="hFSlQrB3iGY"
                                    >
                                <p class="help-block">
                                    {{or .errors.YoutubeId "Youtube ID, from the Youtube page URL"}}
                                </p>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="form-actions">
                    <button type="submit"
                        class="btn btn-primary"
                        >Add Video</button>
                    <button
                        class="btn">Cancel</button>
                </div>
            </form>
        {{end}}

    </div>
</div>
