{% extends "layout.html" %}

{% block title %}404 - Page not found{% endblock %}
{% block description %}Page not found{% endblock %}

{% block content %}
    <h1>O, that way madness lies</h1>
    <p>
        There's no page of that name here. Perhaps try one of these
        instead:
        </p>
        <ul>
            <li>
            <a href="/">Home</a>
            </li>
            <li>
            <a href="/contact">Contact</a>
            </li>
        </ul>
    <img src="http://media.saulhoward.com/images/Pogo_-_Earth_Day_1971_poster.jpg"
    alt="We have met the enemy and he is us" />
{% endblock %}

