<header class="jumbotron subhead" id="overview">
        <h1>One of us...</h1>
        <p class="lead">
        Join the Convict Films crew
        </p>
</header>

<div class="row">
    <div class="span6">

        <form method="POST" action="{{.url}}" class="form-horizontal">
            <fieldset>
                <legend>Sign up here for a free Convict Films account</legend>

                <div class="control-group {{if .errors.Username}}error{{end}}">
                    <label class="control-label" for="Username">Username</label>
                    <div class="controls">
                        <input
                            type="text"
                            class="input-xlarge"
                            id="Username"
                            name="Username"
                            value="{{.user.Username}}"
                            placeholder="johnsmith"
                            >
                        <p class="help-block">
                            {{or .errors.Username "Your username - should be letters and no spaces."}}
                        </p>
                    </div>
                </div>

                <div class="control-group {{if .errors.EmailAddress}}error{{end}}">
                    <label class="control-label" for="EmailAddress">
                        Email Address
                    </label>
                    <div class="controls">
                        <input
                            type="text"
                            class="input-xlarge"
                            id="EmailAddress"
                            name="EmailAddress"
                            value="{{.user.EmailAddress}}"
                            placeholder="john@example.com"
                            >
                        <p class="help-block">
                            {{or .errors.EmailAddress "Your email address."}}
                        </p>
                    </div>
                </div>

                <div class="control-group {{if .errors.Password}}error{{end}}">
                    <label class="control-label" for="Password">
                        Password
                    </label>
                    <div class="controls">
                        <input
                            type="password"
                            class="input-xlarge"
                            id="Password"
                            name="Password"
                            >
                        <p class="help-block">
                            {{or .errors.Password "Your password."}}
                        </p>
                    </div>
                </div>
 
                <div class="control-group {{if .errors.Password}}error{{end}}">
                    <label class="control-label" for="repeatPassword">
                        Repeat Password
                    </label>
                    <div class="controls">
                        <input
                            type="password"
                            class="input-xlarge"
                            id="RepeatPassword"
                            name="RepeatPassword"
                            >
                        <p class="help-block">
                            {{or .errors.Password "Your password again."}}
                        </p>
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit"
                        class="btn btn-primary"
                        >Register</button>
                    <button
                        class="btn">Cancel</button>
                </div>
            </fieldset>
        </form>

    </div>
</div>
