<div id="video">
    <header class="jumbotron subhead" id="overview">
            <h1 class="title">{{.video.Title}}</h1>
            <p class="lead shortDescription">
            {{.video.ShortDescription}}
            </p>
    </header>

    <div class="row">
        <div class="span8">

            {{/* Video Player */}}
            {{if .video.ExternalVideos.Vimeo.ID}}
                <iframe
                    src="http://player.vimeo.com/video/{{.video.ExternalVideos.Vimeo.ID}}" 
                    width="100%" 
                    height="{{.video.ExternalVideos.Vimeo.Data.Height}}" 
                    frameborder="0"
                    >
                </iframe>
            {{else}}
                {{if .video.ExternalVideos.Youtube.ID}}
                    <iframe class="youtube-player" type="text/html" 
                            width="100%" height="385"
                            src="http://www.youtube.com/embed/{{.video.ExternalVideos.Youtube.ID}}"
                            frameborder="0"
                            >
                    </iframe>
                {{end}}
            {{end}}

        </div>
        <div class="span4">
            <div class="description well">
                {{markdown .video.Description}}
            </div>

            {{if .video.ExternalVideos.Youtube.Data.Title}}
                <div class="youtube-details">
                    <h3>Youtube</h3>
                    <dl class="dl-horizontal">
                        <dt>
                        Link:
                        </dt>
                        <dd>
                        <a href="{{.video.ExternalVideos.Youtube.URL}}">
                        {{.video.ExternalVideos.Youtube.Data.Title}}</a>
                        </dd>
                        <dt>
                        Published:
                        </dt>
                        <dd>
                        {{.video.ExternalVideos.Youtube.Data.PublishedDate}}
                        </dd>
                        <dt>
                        Views:
                        </dt>
                        <dd>
                        {{.video.ExternalVideos.Youtube.Data.Statistics.Views}}
                        </dd>
                        <dt>
                        Favourites:
                        </dt>
                        <dd>
                        {{.video.ExternalVideos.Youtube.Data.Statistics.Favourites}}
                        </dd>
                    <dl>
                </div>
            {{end}}

            {{if .video.ExternalVideos.Vimeo.Data.Title}}
                <div class="youtube-details">
                    <h3>Vimeo</h3>
                    <dl class="dl-horizontal">
                        <dt>
                        Link:
                        </dt>
                        <dd>
                        <a href="{{.video.ExternalVideos.Vimeo.URL}}">
                        {{.video.ExternalVideos.Vimeo.Data.Title}}</a>
                        </dd>
                        <dt>
                        Published:
                        </dt>
                        <dd>
                        {{.video.ExternalVideos.Vimeo.Data.UploadDate}}
                        </dd>
                        <dt>
                        Views:
                        </dt>
                        <dd>
                        {{.video.ExternalVideos.Vimeo.Data.StatsNumberOfPlays}}
                        </dd>
                        <dt>
                        Favourites:
                        </dt>
                        <dd>
                        {{.video.ExternalVideos.Vimeo.Data.StatsNumberOfLikes}}
                        </dd>
                    <dl>
                </div>
            {{end}}

        </div>
    </div>
</div>

{{if .relatedVideos}}
    <div class="relatedVideos">
        <h2>Related Videos</h2>
        <div class="row">
            <div class="span8">
                <ul class="thumbnails">
                    {{range .relatedVideos}}
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="{{.URL}}">
                                    {{if eq .Thumbnail ""}}
                                        <img 
                                            src="http://placehold.it/210x180"
                                            width="210"
                                            alt="Placeholder"
                                            >
                                    {{else}}
                                        <img 
                                            src="{{.Thumbnail.URL}}"
                                            width="210"
                                            alt=""
                                            >
                                    {{end}}
                                </a>
                                <h5>{{.Title}}</h5>
                                <p>{{.ShortDescription}}</p>
                            </div>
                        </li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
{{end}}

