<header class="jumbotron subhead" id="overview">
        <h1>{{.video.Title}}</h1>
        <p class="lead">
        {{.video.ShortDescription}}
        </p>
</header>

<div class="row">
    <div class="span6">

        {{if .video.ExternalVideos.Youtube.ID}}
            <iframe class="youtube-player" type="text/html" 
                    width="100%" height="385"
                    src="http://www.youtube.com/embed/{{.video.ExternalVideos.Youtube.ID}}"
                    frameborder="0"
                    >
            </iframe>
        {{end}}

        {{if .video.ExternalVideos.Vimeo.ID}}
            <p>Vimeo, biatches</p>
        {{end}}

    </div>
    <div class="span6">
        <div class="well">
            {{markdown .video.Description}}
        </div>

        {{if .video.ExternalVideos.Youtube.Data.Title}}
            <div class="youtube-details">
                <h3>This video on Youtube</h3>
                <dl class="dl-horizontal">
                    <dt>
                    Title:
                    </dt>
                    <dd>
                    <a href="{{.video.ExternalVideos.Youtube.Location}}">
                       {{.video.ExternalVideos.Youtube.Data.Title}}</a>
                    </dd>
                    <dt>
                    Published:
                    </dt>
                    <dd>
                    {{.video.ExternalVideos.Youtube.Data.PublishedDate}}
                    </dd>
                    <dt>
                    Views:
                    </dt>
                    <dd>
                    {{.video.ExternalVideos.Youtube.Data.Statistics.Views}}
                    </dd>
                    <dt>
                    Favourites:
                    </dt>
                    <dd>
                    {{.video.ExternalVideos.Youtube.Data.Statistics.Favourites}}
                    </dd>
                <dl>
            </div>
        {{end}}
    </div>
</div>
