<header class="jumbotron subhead" id="overview">
    <h1>Log in</h1>
</header>

<div class="row">
    <div class="span6">

        <form method="POST" action="{{.url}}" class="form-horizontal">
            <fieldset>
                <legend>Log in to your account here</legend>

                <div class="control-group {{if .errors.Username}}error{{end}}">
                    <label class="control-label" for="Username">Username</label>
                    <div class="controls">
                        <input
                            type="text"
                            id="Username"
                            name="Username"
                            value="{{.user.Username}}"
                            >
                        <span class="help-inline">
                            {{or .errors.Username ""}}
                        </span>
                    </div>
                </div>

                <div class="control-group {{if .errors.Password}}error{{end}}">
                    <label class="control-label" for="Password">
                        Password
                    </label>
                    <div class="controls">
                        <input
                            type="password"
                            id="Password"
                            name="Password"
                            >
                        <span class="help-inline">
                            {{or .errors.Password ""}}
                        </span>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit"
                        class="btn btn-primary"
                        >Log in</button>
                    <button
                        class="btn">Cancel</button>
                </div>
            </fieldset>
        </form>




    </div>
</div>
